body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../src/assets/mountain-top.jpg');
  background-size: cover;
}

.flex-duo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}


#about-me article p {
  font-size: 20px;
  line-height: 1.3;
  width: 30%;
  margin: auto auto
}


.profile {
  max-width: 400px;
  max-height: 500px;
  border-radius: 15px;
  margin: 0 auto 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
